<div>
    <h3 class="text-2xl mb-3 font-bold">
        InterOptive
    </h3>
    <div class="grid grid-cols-4 gap-2">
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            PHP
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            Laravel
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            jQuery
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            Boostrap
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            MySQL
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            Stripe
        </span>
    </div>
    <div class="my-6">
        <p class="text-sm tracking-wide text-gray-300">
            InterOptive is a platform that builds dynamic surveys, forms and funnels that people can use to answer.
            Works similar with Typeform. Not just an ordinary forms and survey makers- but with conditional logic to
            make survey feels like discussions rather than examination. Implemented Stripe API integration for customer
            subscriptions.
        </p>
        <div class="mt-5">
            <img src="./public/images/projects/interoptive/interoptive-dashboard.png" alt="InterOptive Dashboard"
                class="w-full">
        </div>
        <div class="mt-5">
            <img src="./public/images/projects/interoptive/interoptive-design-form.png" alt="InterOptive Design Form"
                class="w-full">
        </div>
    </div>
</div>