<div>
    <h3 class="text-2xl mb-3 font-bold">
        North Central Mindanao College (NCMC) - School Information System
    </h3>
    <div class="flex gap-2">
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            PHP Laravel
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            jQuery
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            Vue.js
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            Boostrap
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            MySQL
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            GoDaddy
        </span>
    </div>
    <div class="my-6">
        <p class="text-sm tracking-wide text-gray-300">
            NCMC is a leading research and community-based institution located in Maranding, Lanao del Norte,
            Philippines. It offers competent and outcome-based curriculum serving students from Early Childhood
            Education through College Education.
            <br>
            <br>
            Fully developed from scratch, a School Management System using Laravel 5. The major modules included were
            Sections, Enrollments, Scholarships, Online Payments, POS, Invoices, Credit Memos and many more. Also
            consists Faculty Portal, and Student Portal.
            <br>
            <br>
            I am the main developer assigned for this project from database structure (ERD) up to daily development and
            design.
            <br>
            <br>
            Later on, we
            redevelop and used Laravel and Vue.js as its main tech stack.
        </p>
        <div class="mt-5">
            <img src="./public/images/projects/pixzel/ncmc-dashboard.png" alt="NCMC Dashboard" class="w-full">
        </div>
    </div>
</div>