<div>
    <h3 class="text-2xl mb-3 font-bold">
        North Central Mindanao College (NCMC) - Alumni Portal
    </h3>
    <div class="grid grid-cols-4 lg:grid-cols-8 text-center gap-2">
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            PHP
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            Laravel
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            jQuery
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            Boostrap
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            MySQL
        </span>
    </div>
    <div class="mt-5">
        <a href="http://alumni.ncmcmaranding.com" title="alumni.ncmcmaranding.com" target="_blank"
            class="text-sm font-medium text-blue-300 hover:underline">alumni.ncmcmaranding.com</a>
    </div>
    <div class="my-6">
        <p class="text-sm tracking-wide text-gray-300">
            NCMC's alumni portal using Laravel 5.
            <br>
            <br>
            It's a portal where an alumnus can register solely for school events and get-together. The registered alumni
            will
            receive updates and upcoming activies
            from the school.
        </p>
        <div class="mt-5">
            <img src="./public/images/projects/pixzel/ncmc-alumni.png" alt="NCMC Alumni" class="w-full">
        </div>
    </div>
</div>