<div>
    <h3 class="text-2xl mb-3 font-bold">
        Trinidad and Tobago Unit Trust Corportation (TTUTC) Forms
    </h3>
    <div class="grid grid-cols-4 lg:grid-cols-8 text-center gap-2">
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            PHP
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            Laravel
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            jQuery
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            Boostrap
        </span>
        <span class="bg-blue-100 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
            MySQL
        </span>
    </div>
    <div class="my-6">
        <p class="text-sm tracking-wide text-gray-300">
            TTUTC is a financial company from the country Trinidad and Tobago. Automating the financial forms that
            includes a total of 9 forms. Implemented converting to PDF with e-signature using SignRequest. This project
            consists
            of Customer & Admin portal.
        </p>
        <div class="mt-5">
            <img src="./public/images/projects/intelliweb/ttutc-dashboard.png" alt="TTUTC Dashboard" class="w-full">
        </div>
        <div class="mt-5">
            <img src="./public/images/projects/intelliweb/ttutc-form.png" alt="TTUTC Form" class="w-full">
        </div>
    </div>
</div>