<div id="show-work-modal" class="hidden">
    <div class="fixed inset-0 bg-transparent bg-blur z-10"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="h-screen min-h-full">
            <div class="flex justify-end">
                <div class="bg-gray-800 h-10 p-2 rounded-l-full hidden lg:block">
                    <button type="button" class="text-gray-400 hover:text-gray-300"
                        onclick="onClickToggleShowWorkModal('close')">
                        <span class="hidden">Close</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" view-box="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                <div
                    class="float-right transform overflow-hidden text-left shadow-xl transition-all min-w-[75%] w-[907px] overflow-y-auto">
                    <div class="bg-gray-800 h-screen text-white">
                        <div id="work-kaddy-connect" class="work-modal-body hidden">
                            Kaddy Connect
                        </div>
                        <div id="work-kaddy-tracking" class="work-modal-body hidden">
                            Kaddy Tracking
                        </div>
                        <div id="work-ncmc-sis" class="work-modal-body hidden">
                            NCMC SIS
                        </div>
                        <div id="work-ncmc-web" class="work-modal-body hidden">
                            NCMC Web
                        </div>
                        <div id="work-ncmc-alumni" class="work-modal-body hidden">
                            NCMC Alumni
                        </div>
                        <div id="work-interoptive" class="work-modal-body hidden">
                            InterOptive
                        </div>
                        <div id="work-ttutc-forms" class="work-modal-body hidden">
                            TTUTC Forms
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>