<div id="show-work-modal" class="hidden">
    <div class="fixed inset-0 bg-transparent bg-blur z-10"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="h-screen min-h-full">
            <div class="flex justify-end">
                <div class="bg-gray-800 h-10 p-2 rounded-l-full hidden lg:block">
                    <button type="button" class="text-gray-400 hover:text-gray-300"
                        onclick="onClickToggleShowWorkModal('close')">
                        <span class="hidden">Close</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" view-box="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                <div
                    class="float-right transform text-left shadow-xl transition-all bg-gray-800 h-screen text-white min-w-[75%] w-[907px] overflow-y-auto">
                    <div class="flex justify-center mx-3">
                        <div class="md:w-10/12 lg:w-9/12 lg:px-5 lg:py-10 p-5">
                            <div id="work-kaddy-connect" class="work-modal-body hidden">
                                <div include-html="./components/show-work-modal/kaddy-connect-body.html"></div>
                            </div>
                            <div id="work-kaddy-tracking" class="work-modal-body hidden">
                                <div include-html="./components/show-work-modal/kaddy-tracking-site-body.html"></div>
                            </div>
                            <div id="work-ncmc-sis" class="work-modal-body hidden">
                                <div include-html="./components/show-work-modal/ncmc-sis-body.html"></div>
                            </div>
                            <div id="work-ncmc-web" class="work-modal-body hidden">
                                <div include-html="./components/show-work-modal/ncmc-web-body.html"></div>
                            </div>
                            <div id="work-ncmc-alumni" class="work-modal-body hidden">
                                <div include-html="./components/show-work-modal/ncmc-alumni-body.html"></div>
                            </div>
                            <div id="work-interoptive" class="work-modal-body hidden">
                                <div include-html="./components/show-work-modal/interoptive-body.html"></div>
                            </div>
                            <div id="work-ttutc-forms" class="work-modal-body hidden">
                                <div include-html="./components/show-work-modal/ttutc-forms-body.html"></div>
                            </div>
                            <div id="work-imch-portal" class="work-modal-body hidden">
                                <div include-html="./components/show-work-modal/imch-portal-body.html"></div>
                            </div>
                        </div>
                    </div>
                    <div class="absolute right-5 top-5">
                        <button type="button" class="text-gray-400 hover:text-gray-300 lg:hidden"
                            onclick="onClickToggleShowWorkModal('close')">
                            <span class="hidden">Close</span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" view-box="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>